/* NavBar background color - need for sticky top*/
.navbar {
    background-color: white;
}

/* Home Page Carousal Styling */

.container-fluid a {
    font-family: "Open Sans", sans-serif;
    font-size: 25px; 
}
.navbar-nav a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.carousel-inner img {
    width: 100%;
    max-height: 750px;
    opacity: 2;
}

.carousel-caption {
    position: absolute;
    top: 30%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: white;
}

.carousel-caption h1 {
    font-size: 40px;
    font-weight: bold;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    margin-right: 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: "Open Sans", sans-serif;
}


/*Our Story Formatting */
#our-story-content img {
    padding-top: 25px;
    float :left;
}
#our-story-content h1 {
    float: left;
    padding-top: 25px;
    padding-left: 50px;
}
#our-story-content p {
    float: none;
    padding-top: 100px;
    padding-left: 600px;
}

/* Social Media Content */
#socials {
    padding-left: 560px;
}  

#socials ul{
    list-style: none;
    padding-top: 15px;
}  

#socials li {
    display: inline;
    padding: 5px;
}

/*Wine Selection Styling */

/*Header Content */
#wine-selection-title h1 {
    padding-top: 50px;
    text-align: center;
    font-family: sans-serif;
}
#wine-selection-title h6 {
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    font-family: sans-serif;
}

/*Wine Portfolio Cards */

.col {
    height: 750px;
} 
.col img {
    max-width: 50%;
    height: 325px;   
}

.card-text {
    height:175px;
}
.card-body #price {
    height: 25px;
    padding-top: 10px;
}

/* Input box */
input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 35px;
  }

  /* Login Form */
  #login-form {
    width: 40%;
  }


  /* Header Content Class */
  #header-content-tour h1 {
    padding-top: 50px;
    text-align: center;
    font-family: sans-serif;
  }

  #header-content-tour h6 {
    padding-left: 400px;
    padding-right: 400px;
    text-align: center;
    font-family: sans-serif;
  }

  #header-content-tour h3 {
    text-align: center;
    font-family: sans-serif;
  }

  #header-content-tour p {
    text-align: center;
    font-family: sans-serif;
  }

  #header-content-tour img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


